* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}
:root {
  --main-color: #ff9f0d;
  --text-color: #fff;
  --other-color: #161616;
  --second-color: #9e9e9e;
  --bg-color: #0c0c0c;

  --big-font: 4.5rem;
  --medium-font: 3.2rem;
  --h2-font: 3rem;
  --p-font: 1.8rem;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0c0c0c;
  font-size: 1.6rem;
  font-family: "Poppins";
}

/* univerzalne komponente */
.container {
  max-width: 141rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.main-heading {
  font-size: 5.1rem;
  color: #fff;
  line-height: 7rem;
}

.heading-secondary {
  font-size: 4.1rem;
  font-weight: 700;
  color: #fff;
  text-align: left;
  line-height: 7rem;

  max-width: 60rem;
}

.heading-tertiary {
  color: #a66e19;
  font-size: 3rem;
  line-height: 3rem;
}

.heading-fifth {
  color: #ff9f0d;
  font-size: 1.76rem;
  line-height: 2.6rem;
  font-weight: 600;
}

.paragraph {
  font-size: 1.6rem;
  color: #fff;
  line-height: 2.5rem;
  margin-top: 1.3rem;
}

.centered-heading {
  text-align: center;
  margin: 0 auto;
}

/* header */
header {
  padding: 3rem 0;
}

header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo a {
  color: #ff9f0d;
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 3.3rem;
  text-decoration: none;
}

header .main-nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 2rem;
}

header .main-nav ul li a {
  font-size: 1.7rem;
  line-height: 2.6rem;
  color: #fff;
  text-decoration: 0;
  font-weight: 600;
}

header .menu-btn {
  display: none;
}

header .menu-btn svg {
  color: #fff;
  width: 3.8rem;
}

/* o nama */
.about-us {
  padding-top: 12.5rem;
  padding-bottom: 5rem;
}

.about-us .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.about-us .about-img {
  max-width: 65rem;
  width: 100%;
}

.about-us .about-img img {
  width: 100%;
  height: auto;
}

.about-us .about-wrapper {
  max-width: 50.4rem;
}

/* zasto mi */
.why-us {
  padding-top: 6.5rem;
  padding-bottom: 7.5rem;
}

.why-us .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.why-us .why-us-img {
  max-width: 48rem;
  width: 100%;
}

.why-us .why-us-img img {
  width: 100%;
}

.why-us .why-us-text-wrapper {
  max-width: 64rem;
}

/* kako radimo */
.how-we-work {
  padding-top: 7.5rem;
  padding-bottom: 11.5rem;
}

.how-we-work .meet-us-heading {
  margin-top: 1.8rem;
}

.how-we-work .how-wrapper {
  margin-top: 8rem;
}

.how-we-work .how-container {
  max-width: 146rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.how-we-work .step {
  background-color: #1e1e1e;
  border-radius: 3.2rem;
  padding: 6rem 8rem;
  max-width: 82.8rem;
  width: 100%;
}

.how-we-work .step-margin {
  margin-bottom: 6rem;
}

.how-we-work .step-right {
  margin-left: auto;
}

.how-we-work .step-right .step-number {
  order: 2;
}

.how-we-work .step-right .step-number h2 {
  order: 2;
}

.how-we-work .step-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.how-we-work .step-content .step-number {
  display: flex;
  align-items: center;
}

.how-we-work .step-content .step-number::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 15.8rem;
  background-color: #0c0c0c45;
  margin-left: 8rem;
  margin-right: 7.5rem;
}

.how-we-work .step-content .step-number h2 {
  font-size: 13rem;
  color: #ff9f0d;
}

.how-we-work .step-content .step-desc .step-text {
  margin-top: 3rem;
}

/* portfolio  */
.portfolio {
  background-image: url("../img/portfolio-bg-optimized.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
}

.portfolio .portfolio-overlay {
  background-color: #a66e19;
  opacity: 80%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.portfolio .portfolio-wrapper {
  padding-top: 19.8rem;
  padding-bottom: 21.8rem;

  position: relative;
  z-index: 999;
  text-align: center;
}

.portfolio .portfolio-heading {
  text-align: center;
  font-size: 5.1rem;
  line-height: 7rem;
  margin: 0 auto;
}

.portfolio .see-more .see-more-btn {
  font-size: 1.7rem;
  line-height: 2.4rem;
  margin-top: 3rem;
  text-decoration: none;
  background-color: #1e1e1e;
  padding: 7px 30px 7px 33px;
  color: #fff;
  border-radius: 32px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  display: inline-block;
}

.portfolio .see-more .arrow-right svg {
  height: 40px;
  width: 40px;
  margin-left: 12px;
  color: #ff9f0d;

  vertical-align: middle;
}
.contact-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.contact-text {
  text-align: center;
  margin-bottom: 4rem;
}
.contact-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 10px;
  color: var(--main-color);
}
.contact-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  max-width: 950px;
  line-height: 30px;
  margin-bottom: 3rem;
}
.social i {
  display: inline-block;
  font-size: 32px;
  color: var(--second-color);
  margin: 0 20px;
  transition: all 0.5s ease;
}

.social .clr i {
  color: var(--main-color);
}
.social .clr i:hover {
  color: var(--second-color);
}
.social i {
  color: var(--main-color);
}
.social i:hover {
  color: var(--second-color);
}
